.log {
  background-color: #fdf5e6;
  padding-bottom: 0;
  height: 100vh;
}

#sign-up-row {
  min-height: 100vh;
  margin: 0;
}

.log-brand {
  color: black;
  font-family: "Titillium Web";
  font-size: 60px;
  letter-spacing: 5px;
  padding: .5rem;
}

.log-brand:hover {
  color: gray;
  text-decoration: none;
}

.log-header {
  margin-bottom: 1rem;
}

.container-fluid {
  padding: 0;
  display: table;
  width: 100%;
}

.img-holder {
  background: url(../../assets/images/img1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 91.5vh;
}

.log-title {
  font-family: "Titillium Web";
  letter-spacing: 5px;
  color: #8a9748;
}

.btn {
  background-color: #738276	;
  border: none;
  color: white;
  font-family: "Titillium Web";
  letter-spacing: 3px;
  font-size: 25px;
}

#signin-link {
  color: #610c04;
  font-family: "Titillium Web";
  letter-spacing: 3px;
  font-size: 20px;
}

#signin-link:hover {
  color: #a91b0d;
  text-decoration: none;
}
