.homepage {
  background-image: url(../../assets/images/homepage.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.homepage {
  margin: 0;
  text-align: center; 
}

.homepage-name {
  color: white;
  font-family: "Titillium Web";
  font-size: 67px;
  letter-spacing: 8px;
  text-shadow: 0px 7px 3px black;
  padding-top: 250px;
}

.tag-line {
  color: white;
  font-family: "Titillium Web";
  font-size: 43px;
  letter-spacing: 6px;
  text-shadow: 0px 7px 3px black;
  padding-top: 50px;
}