a{
    color: black;
}
a:hover{
    color: rgb(128, 57, 57);
}
.search, .upload{
    background: #ffedd5;
}
h2:hover{
    color: #738276;
}

.hover-pointer{
    cursor: pointer;
}
  
h3{
    width: 50%;
    margin: 0 auto;
}

.itemTable{
    width: 75%;
    margin: 0 auto;
    margin-right: 50px;
    overflow: auto;
}


